<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header'); %>
</head>

<body>

    <!-- ======= Topbar ======= -->
    <%- include('./partials/topbar'); %>
    <!-- End Topbar -->

    <!-- ======= Sidebar ======= -->
    <%- include('./partials/sidebar'); %>
    <!-- End Sidebar-->

    <main id="main" class="main">
        <%- body %>
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('./partials/footer'); %>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- ======= Script ======= -->
    <%- include('./partials/script'); %>
    <!-- End Script -->

</body>

</html>