<div >
    <% if (cars.length > 0) { %>
        <form action="/dashboard/rentals/create-rental" method="POST">

            <div>
                <label for="user">Customer</label>
                <select name="user_id" id="user" required>
                    <option value="" disabled selected>Nama Customer</option>
                    <% users.forEach(user => { %>
                        <option value="<%= user.id %>"> <%= user.make %>  <%= user.name %></option>
                    <% }) %>
                </select>
            </div>
            
            <div>
                <label for="car">Mobil</label>
                <select name="car_id" id="car" required>
                    <option value="" disabled selected>Pilih Mobil</option>
                    <% cars.forEach(car => { %>
                        <option value="<%= car.id %>"> <%= car.make %>  <%= car.model %></option>
                    <% }) %>
                </select>
            </div>

            <div>
                <label for="tgl_peminjaman">Tanggal Peminjaman</label>
                <input type="date" id="tgl_peminjaman" name="tgl_peminjaman" placeholder="Tanggal Peminjaman">
            </div>
            
            <div>
                <label for="tgl_pengembalian">Tanggal Pengembalian</label>
                <input type="date" id="tgl_pengembalian" name="tgl_pengembalian" placeholder="Tanggal Pengembalian">
            </div>
            <div>
                <label for="total_harga">Total Harga</label>
                <input type="number" min="0" id="total_harga" name="total_harga" placeholder="Total Harga">
            </div>

            <input type="hidden" value="selesai" name="status">

            <button type="submit">Rent Car</button>
        </form>
    <% } else { %>
        <p>No cars are available for rental at the moment.</p>
</div>
<% } %>